/* border */
.border-mocha {
  border: 2px solid #654321;
}

/* background */
.background-mocha {
  background-color: #7B5632;
}

/* foreground */
.foreground-latte {
  background-color: #F5F5DC;
  color: #2C1608;
}

/* font */
.font-dark-chocolate {
  color: #3D1C07;
}

.link-dark-chocolate {
  color: #3D1C07;
}

.link-dark-chocolate:hover {
  color: #5E412F
}

/* buttons */
.btn-espresso {
  background-color: #2C1205;
  border-color: #2C1205;
  color: #F5F5DC;
}

.btn-espresso:hover {
  background-color: #3D1C07;
  border-color: #3D1C07;
  color: #fff;
}

/* body styling */
body {
  /* background-image: url('assets/old-film-grain-texture-effect-and-vintage-photo-effect-png.png'); */
  /* background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; */
  filter: brightness(0.8) contrast(1.1) saturate(1.1);
}

/* .glow {
  position: relative;
  display: inline-block;
}

.glow:hover::before {
  animation-play-state: running;
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border-radius: 50%;
  background: rgba(39, 85, 29, 0.5);
  z-index: -1;
  animation: glow 2s ease-in-out infinite alternate;
} */

/* @keyframes glow {
  0% { transform: scale(1); }
  100% { transform: scale(1.5); }
} */

.quantity-selector input[type="number"]::-webkit-outer-spin-button,
.quantity-selector input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Removes arrows in WebKit browsers (Chrome, Safari, etc.) */
  margin: 0;
}
.quantity-input {
  /* width: 50px; */
}

.quantity-selector input[type="number"] {
  -moz-appearance: textfield; /* Removes arrows in Firefox */
}

/* Silent Hill 2 - Main Background */
.sh2-background {
  background-color: #303030;
}

/* Silent Hill 2 - Blood Red (Alternate Lights) */
.sh2-blood-red {
  color: #852B4B;
}

/* Silent Hill 2 - Misty Gray (Forest Area, etc.) */
.sh2-misty-gray {
  background-color: #696969;
}

/* Silent Hill 2 - Dirty Yellow (Lighter areas) */
.sh2-dirty-yellow {
  color: #C0A853;
  background-color: #B1974E;
}

/* Silent Hill 2 - Dark Teal (Water, certain environments) */
.sh2-dark-teal {
  color: #1D6154;
  background-color: #0C3831;
}

/* Silent Hill 2 - Dark Purple (Darker areas, Nightmare scenes) */
.sh2-dark-purple {
  color: #7030A0;
  background-color: #4B266D;
}